@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');


.font-main {
  font-family: 'Kanit', sans-serif;
    
}



    /* Default height for small devices */
    #header {
        min-height: 600px;
      }
  
      /* Height for devices larger than 992px */


@media only screen and (max-width : 600px) {
  .css-selector {
    position: relative;
    height: 88.3vh;
    background: linear-gradient(30deg, #4baaff, #032689, #000000, #087c1f);
    background-size: 100% 100%;
    animation: AnimationName 15s ease infinite;
  }
}
@media screen and (min-width:601px){
        .css-selector {
        position: relative;
        height: 92.8vh;
        background: linear-gradient(30deg, #4baaff, #032689, #000000, #69e2ec);
        background-size: 400% 400%;
        animation: AnimationName 15s ease infinite;
    }
}


    .css-selector::after {
      content: "";
      background: linear-gradient(to top, #ffffff, transparent);
      height: 100px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
    @-webkit-keyframes AnimationName {
        0%{background-position:33% 0%}
        50%{background-position:68% 100%}
        100%{background-position:33% 0%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:33% 0%}
        50%{background-position:68% 100%}
        100%{background-position:33% 0%}
    }
    @-o-keyframes AnimationName {
        0%{background-position:33% 0%}
        50%{background-position:68% 100%}
        100%{background-position:33% 0%}
    }
    @keyframes AnimationName {
        0%{background-position:33% 0%}
        50%{background-position:68% 100%}
        100%{background-position:33% 0%}
    }

    hr.dashed {
      border-top: 3px dashed #bbb;
    }

    .sec-1 {
      max-height: 500px;
    }


    @media (min-width:992px) {
      .icon-hand {
        display: block;
      }
    }


    .features-headers {
      transition: transform 500ms;
    }

    .features-headers:hover {
      transform: scale(1.05);
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0
  }
  
  ul>li {
      padding: 4px;
      color:#C5CAE9;
  }
  
  ul>li:hover {
      color: #037c0de8;
      cursor: pointer
  }
  
  hr {
      border-width: 3px
  }
  
  .card {
      padding: 2% 7%
  }
  
  .social>i {
      padding: 1%;
      font-size: 15px
  }
  
  .social>i:hover {
      color: #037c0de8;
      cursor: pointer
  }
  
  .policy>div {
      padding: 4px
  }
  
  .heading {
      font-family: 'Titillium Web', sans-serif;
      color: black
  }
  
  .divider {
      border-top: 2px solid
  }


 .head-btn {
  position: absolute;
  bottom:8vh;
  background-color: transparent;
  border-width: 0px;
 }


.arr{
  color: #ffffff; 
  font-size:4em;
  transition: all .2s ease-in-out;
  animation: arrow-animation 7s infinite ease;
}

 .arr:hover {
  transform: scale(1.4);
 }

@keyframes font-scale {
  from {
    font-size: 4em;
  }
  to {
    font-size: 5em;
  }
}
 


@keyframes arrow-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}